<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="ApplicationId" value="88"/>
    <add key="ApplicationKey" value="3d32e09f4efe1c51d1146836d07d89ae"/>
    <add key="PwdNeedDecode" value="0"/>
    <add key="ErrorLogFolder" value="D:\Temp\Benlai.AutoPublish.Client.Service\"/>
    <add key="ReadLocalConfig" value="true"/>
    <add key="ConfigServicePath" value=""/>
    
    <add key="WebPhysicalPath" value="C:\lingchen\web"/>

    <add key="ErrorLogFolder" value="D:\Temp\"/>

    <!-- 读取配置文件的时间间隔 -->
    <add key="ReadConfigInterval" value="10"/>

    <!--调用数据同步服务的接口根地址-->
    <add key="ApplicationSyncDomain" value="http://127.0.0.1:18000"/>
    <!--调用数据同步服务的接口超时时间 单位：毫秒-->
    <add key="ApplicationSyncDomainTimeout" value="3000"/>

    <add key="RulesForWhoAmI" value="10.10.111|192.168.47"/>
    <add key="AppIdsForWhoAmI" value="3,5"/>

    <!--<add key="RedisConnectionCache" value="192.168.60.6:9002,192.168.60.6:9002"/>
    <add key="RedisConnectionCacheIAS" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="RedisConnection" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="RedisConnectionInventory" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="RedisConnectionSafety" value="192.168.60.6:8002,192.168.60.6:8002"/>-->

    <add key="CompressRedisConnectionCache" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="CompressRedisConnectionCacheIAS" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="CompressRedisConnectionDefault" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="CompressRedisConnectionInventory" value="192.168.60.6:8002,192.168.60.6:8002"/>
    <add key="CompressRedisConnectionSafety" value="192.168.60.6:8002,192.168.60.6:8002"/>

    <add key="RedisConnectionSearchKeys" value="123.com@192.168.60.6:8002"/>



    <!--最大写数量-->
    <add key="MaxWritePoolSize" value="128"/>
    <!--最大读数量-->
    <add key="MaxReadPoolSize" value="128"/>
  </appSettings>
  <startup> 
      
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
